@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700;800;900&family=Rubik:wght@400;500;600;700;800;900&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Jost', sans-serif; */
    font-family: 'Rubik', sans-serif;
}

a,ul {
    text-decoration: none;
    list-style-type: none;
}

/* ========== header ========== */

header {
    position: absolute;
    top: 0;
    background-color: transparent;
    width: 100%;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3rem ;
    transition: 0.3s;
}

header .leftpart, header .rightpart {
    display: flex;
    align-items: baseline;
    justify-content: center;
    gap: 2rem;
}

header ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

header ul li a {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    transition: 0.3s;
}

header ul li a:hover {
    color: #65C9BB;
}

header .call-us {
    display: flex;
    align-items: baseline;
    justify-content: center;
    gap: 10px;
}

header .call-us span {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}

header .call-us a {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    border-bottom: 1px dashed #fff ;
    padding-bottom: 5px;
}

header .donation-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 17px 30px;
    background-color: #F15B43;
    border: 1px solid #F15B43;
    cursor: pointer;
    transition: .3s ease ;
}

header .donation-btn:hover {
    background-color: transparent;
    border-color: #fff;
}

header .donation-btn i {
    font-size: 25px;
    color: #fff;
}

header .donation-btn a {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    width: 100%;
    height: 100%;
}

/* ========== header end ========== */


/* ========== hero section ========== */
.hero {
    background-image: url(assets/hero/h1_hero1.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
}

.hero h1 {
    font-family: "Jost", sans-serif;
    font-size: 70px;
    font-weight: 500;
    margin-bottom: 20px;
    color: #fff;
    line-height: 1;
    letter-spacing: -.05em;
}

.hero p {
    color: #fff;
    margin-bottom: 41px;
    font-size: 22px;
    font-weight: 300;
    line-height: 1.5;
}

.hero .hero-btn {
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    text-transform: capitalize;
    padding: 17px 30px;
    background-color: #65C9BB;
    border: 1px solid #65C9BB;
    cursor: pointer;
    transition: .3s ease ;
}

.hero .hero-btn:hover {
    background-color: transparent;
    border-color: #fff;
}

/* ========== hero section end ========== */
/* ========== commons ========== */

.common-title {
    font-size: 41px;
    color: #263B5C;
    display: block;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 30px;
}

.common-subtitle {
    color: #65C9BB;
}

.common-description {
    color: #777777;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 30px;
}

.common-btn {
    padding: 17px 35px;
    font-size: 18px;
    border-radius: 0px;
    font-weight: 500;
    text-transform: capitalize;
    border: 2px solid transparent;
    display: inline-block;
    transition: .3s ease ;
    background-color: #F15B43;
    color: #fff;
}

.common-btn:hover {
    background-color: transparent;
    border-color: #F15B43;
    color: #F15B43;
}
/* ========== upcoming section start ========== */

.upcoming-program {
    background-color: #FCF2EB;
}

.upcoming-program .upcoming-subtitle {
    color: #65C9BB;
}

.upcoming-program .upcoming-title {
    font-size: 41px;
    color: #263B5C;
    display: block;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 30px;
}

.upcoming-program .upcoming-description {
    color: #777777;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 30px;
}

.upcoming-program .upcoming-btns button {
    padding: 17px 35px;
    font-size: 18px;
    border-radius: 0px;
    font-weight: 500;
    text-transform: capitalize;
    border: 2px solid transparent;
    display: inline-block;
    transition: .3s ease ;
}

.upcoming-program .upcoming-btns button:nth-child(1){
    background-color: #F15B43;
    color: #fff;
    border: 2px solid transparent;
}

.upcoming-program .upcoming-btns button:nth-child(1):hover{
    background-color: transparent;
    color: #F15B43;
    border: 2px solid #F15B43;
}

.upcoming-program .upcoming-btns button:nth-child(2){
    background-color: transparent;
    color: #F15B43;
    border: 2px solid #F15B43;
}

.upcoming-program .upcoming-btns button:nth-child(2):hover{
    background-color: #F15B43;
    color: #fff;
    border: 2px solid #F15B43;
}


/* ========== upcoming section end ========== */
/* ========== donations section ========== */

.donations img {
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.donations .donation-content {
    padding: 26px 18px 8px 22px;
    border-bottom: 1px solid #ebeff4;
    background-color: #F4F2F1;
}

.donations .donation-title {
    font-size: 16px;
    color: #263B5C;
    transition: .3s ease;
    font-weight: 500;
    margin-bottom: 1rem;
}

.donations .donation-content:hover .donation-title {
    color: #F15B43;
}

.donations .donation-description {
    font-size: 1rem;
    color: #777777;
}

.donations .donation-footer p {
    font-size: 14px;
    color: #263B5C;
}

.donations .donation-footer .money {
    font-size: 18px;
    color: #65C9BB;
}

.donations .donation-footer .donation-btn {
    padding: 14px 20px;
    font-size: 18px;
    border-radius: 0px;
    font-weight: 500;
    text-transform: capitalize;
    border: 2px solid transparent;
    display: inline-block;
    transition: .3s ease ;
    background-color: #F15B43;
    color: #fff;
}

.donations .donation-footer .donation-btn:hover {
    background-color: transparent;
    border-color: #F15B43;
    color: #F15B43;
}

/* ========== donations section end ========== */
/* ========== join us section start ========== */
.join-us .join-us-btns button {
    background-color: transparent;
    color: #F15B43;
    border-color: #F15B43;
}

.join-us .join-us-btns button:hover {
    background-color: #F15B43;
    color: #fff;
    border-color: #F15B43;
}

/* ========== join us section end ========== */

.our-services-area {
    background-image: url(assets/gallery/section-bg1.jpg);
}